.articlepagination{
    margin-top: 10px;
    display:flex;
    align-items:center;/*垂直居中*/
    justify-content: center;/*水平居中*/
    
}
.pagenum{
    height: 20px;
    width: 70px;
    display: inline-block;
    border-radius: 5px;
    background-color: #AAA;
    text-align: center;
    line-height: 20px;
    color: #FFF;
}
.pageup{
    .pagenum;
    &:hover{
        background-color: #444;
        cursor: pointer;
    };
}
.pagedown{
    .pagenum;
    &:hover{
        background-color: #444;
        cursor: pointer;
    };
}
.showpagenum{
    .pagenum;
    border:solid 1px grey;
    margin-left: 5px;
}