*{
  margin:0;
}


.showlist{
    display:inline-block;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 1.5rem;
    border-width: 1px;
    width:40%;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color:lightgreen;
    
    
    
  }
.showlist li{
  list-style-type: none;
}