/* .Nborder{
  margin:5px;
  border:1px solid grey;
  border-radius: 10px;
}
.Rborer{
  margin:5px;
  border:1px solid skyblue;
  border-radius: 10px;
}
.SRborder{
  margin:5px;
  border:1px solid purple;
  border-radius: 10px;
}
.SSRborder{
  margin:5px;
  border:1px solid gold;
  border-radius: 10px;
} */

.yyscontainer{
    height: calc(100vh - 45px);
}
.SSRborder div{
  border-color: gold;
}
.SRborder div{
  border-color: purple;
}
.Rborer div{
  border-color:skyblue;
}
.Nborder div{
  border-color: grey;
}
.listitem{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin:100px 0 0 100px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  padding: 8px 20px;
  margin: 8px;
  cursor: pointer;
  transition-delay: 0.1s;
  transition-duration: 0.5s;
}
.listitem:hover{
    background-color:skyblue;
    padding:16px 40px;
    position: relative;
}

