.sh_class {
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    overflow: hidden;
    border-radius: 15px;
    border-width: 1px;
   
  }
  .sh_class li {
 
    height: 60px;
    width: 60px;
    margin: 1.5rem;
    display: inline-block;
    list-style-type:none;
    
  }
  .yyscontainer{
    background-image: url('../img/bj.jpg');
    height: calc(100vh - 45px);
  }
