.messagelist{
    color:lightgreen;
    margin:1rem 1rem 5% 1rem;   
}
.messageaction{
    color:lightgreen;
    
}
.messagecontent{
    margin:0 1rem 0 1rem ;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.el-input, .el-input__inner{
    width: 96%;
}
