.articlecontainer{
    height: calc(100vh - 45px);
}
.message{
    width: 60%;
    height:30%;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 1.5rem;
    border-width: 1px;
}
.riqi{
    display: inline-block;
    margin:1px 0 0 1%;
}
.zuozhe{
    display: inline-block;
    margin:1px 10% 0 5%; 
}
.neirong p{
    text-indent: 2.5rem;
}
#root{
    height: 100%;
}