html{
    font-size:62.5%;
}
body{
    background-color:black;
}
.mainpage2{
    /* border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204); */
    margin:2% 20%;
}
.picture2{
    width:auto;
    display: inline-block;
    width:60%;
    margin:0 20%;
    
}
.picture2 img{
    width: 40%;
    border-radius: 1rem;
    margin:0.2rem 30%;
}
.picturewords2{
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    margin:0 15%;
    font-size:1.5rem; 
    text-align: center;
    color:lightgreen;
    
}
