.row{
    margin:0;
}
.hdlist{
    border-style: solid;
    border-color: grey;
    border-radius: 1.5rem;
    border-width: 2px;
}

.hdlist h3{
    background-color: lightgreen;
}

.cailiaolist{
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 1.5rem;
    border-width: 1px;
    padding-top:1rem;
    padding-bottom: 1rem;
    
}
.sucainame{
   
    
    
    padding:0;
}

.sucainame p{
    margin:0;
    padding:0;
    font-size: 1rem;
    height: 36px;
    padding-top:5px;
    color: #212529;
    text-align: center;
    
    

}
/* .bt2{
    
    margin-right: -1rem;

} */

.cx p{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 1.5rem;
    margin:0 20% 1rem 40%;
}
.cx{
    white-space: nowrap
}

