.fgotransfer{
    margin:2% 0 0 2%;
    width: 50rem;
    display: inline-block;
}
.showsucai{
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    margin:2% 0 0 2%;
    width: 25%;
    padding:1% 0 1% 1%;
    display: inline-block;
}
